@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Macondo&family=Raleway:wght@100&display=swap');

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular.woff2') format('woff2'), url('../fonts/alexbrush-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url('../fonts/amatic-bold.woff2') format('woff2'), url('../fonts/amatic-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('../fonts/amaticsc-regular.woff2') format('woff2'), url('../fonts/amaticsc-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caroniregular';
    src: url('../fonts/caroni-regular.woff2') format('woff2'), url('../fonts/caroni-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***************************CSS - Parte6***************************/


body {
    background-color: #d8e5fa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.strip-top{
    height: 45px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c7ca7;
    text-decoration: none;
    position: fixed;
    top: 0;
    color: #d8e5fa;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
}

.Parte6{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    border-radius: 15px;
    margin-top: 70px;
    background-color: rgb(223, 178, 186);
    padding: 20px
}

h2 {
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    width: 25em;
}

main li {
    margin-top: 10px;
}

main li:nth-child(1) {
    list-style:circle;
    margin-top: 10px;
}

main li:nth-child(2) {
    list-style:lower-roman;
    margin-top: 10px;
}

main li:nth-child(3) {
    list-style:upper-roman;
    margin-top: 10px;
}

main li:nth-child(4) {
    list-style:decimal;
    margin-top: 10px;
}

main li:nth-child(5) {
    list-style:disc;
    margin-top: 10px;
}

main li:nth-child(6) {
    list-style:decimal-leading-zero;
    margin-top: 10px;
}

main li:nth-child(7) {
    list-style:inside;
    margin-top: 10px;
}

main li:nth-child(8) {
    list-style:lower-latin;
    margin-top: 10px;
}

main li:nth-child(9) {
    list-style:none;
    margin-top: 10px;
}

main li:nth-child(10) {
    list-style: upper-alpha;
    margin-top: 10px;
}

section a {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(111, 111, 150);
}

section .a1:hover{  
    color: rgb(46, 143, 133);
    font-size: 30px;
}

section .a2:visited{
    color: rgb(161, 86, 25);
    background-color: rgb(46, 202, 25);
    font-size: 30px;
}

section input:focus{
    background-color: burlywood;
    color: brown;
    font-size: 30px;
    margin-bottom: 10px;
}

section .a4:link{
    background-color: rgb(59, 145, 105);
    color: burlywood;
    font-size: 30px;
}

section .a5:active{
    color: rgb(145, 59, 119);
    font-size: 30px;
}

.google p{
    width: 40vw;
    margin-bottom: 10px;
}

.google p:nth-child(2){
    font-family: 'Lobster', sans-serif;
}
.google p:nth-child(3){
    font-family: 'Macondo', sans-serif;
}
.google p:nth-child(4){
    font-family: 'Raleway', sans-serif;
}

.woff p{
    width: 40vw;
    margin-bottom: 10px;
}

.woff p:nth-child(2){
    font-family: 'amatic_scregular';
    font-weight: normal;
    font-style: normal;
}
.woff p:nth-child(3){
    font-family: 'alex_brushregular';
    font-weight: normal;
    font-style: normal;
}
.woff p:nth-child(4){
    font-family: 'caroniregular';
    font-weight: normal;
    font-style: normal;
}