@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body{
    color: rgb(26, 26, 26);
    box-sizing: border-box;
}

a, span {
    text-transform:uppercase;
    text-decoration: none;
    color: rgb(116, 85, 8);
    font-weight: bold;
}
h1 {
    color: rgb(12, 90, 90);
}
h3 {
    margin-top: 40px;
}
span {
    color: rgb(99, 128, 99);
}
li {
    list-style: none;
}
h4 {
    font-size: 24px;
}
h5, span {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(59, 73, 97);
}

.lista > h3 {
    font-size: 16px;
    font-family: 'Roboto', serif;
    font-weight: 400;
}

/*==================================== TABELA ====================================*/

/* table, th, td {
    color: rgb(233, 218, 228);
    margin: 30px 0 40px 40px;
    border: 3px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 10px 20px 10px 20px;
}
th, td {
    border-radius: 25px;
    background-color: rgb(175, 135, 163);
} */

/*==================================== MEDIA ====================================*/

.medias {
    display: flex;
    flex-direction: column;
    height: auto;
}

.medias .media-aud, .media-vd {
    margin: 20px;
}

.media-vd p {
    margin: 20px 0;
    color: rgb(26, 26, 26);
    font-size: 21px;
    font-weight: bold;
}

.media-vd video {
    border-radius: 20px;
}

/*==================================== IFRAME ====================================*/

.iframes {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#outra-pagina {
    border: 1px solid rgb(146, 146, 146);
}

iframe {
    margin-top: 25px;
    border: none;
}

.mapouter {
    position:relative;
    text-align:right;
    width: 1000px;
    height:350px;
    overflow-x: scroll; 
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:1500px;
    height:350px;
}

.gmap_iframe {
    height:350px!important;
}


/*==================================== FORMULÃRIO ====================================*/


fieldset {
    display: flex;
    flex-direction: column;
    width: 420px;   
    border-radius: 13px;
    border: none;
    padding: 15px;
    margin-left: 30px;
    background-color: rgb(196, 156, 156);
}

label, p {
    margin:10px;
    color: rgb(129, 56, 78);
}

input {
    padding-left: 7px;
    border: none;
    border-radius: 4px;
    height: 20px;
    color: rgb(158, 80, 104);
    width: 270px;
}

.doVelhinho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100px;
    padding: 0;
    font-size: 12.5px;
}
.doVelhinho input {
    width: 10px;
}

.retinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.retinho > input::placeholder {
    color:rgb(158, 80, 104);
}

#idade {
    -webkit-appearance: none;
    height: 7px;
    background: #d3d3d3;
    opacity: 0.7;
    cursor: pointer;
}

.marcador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcador input {
    width: 13px;
}

.btn {
    display: flex;
    width: auto;
    justify-content: center;
}

.btn input {
    width: 90px;
    margin-top: 15px;
}
.imgSVG {
    margin: 10px;
    background-color: rgb(175, 135, 163);
    border: 2px solid rgb(122, 73, 109);
    border-radius: 30%;
}

.btn input, .marcador input:hover {
    cursor: pointer;
}

/*==================================== curiosidadealeatoria ====================================*/

.curiosidadealeatoria .praca {
    background-color: rgb(232, 255, 232);
    width: 700px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.curiosidadealeatoria .relogio {
    background-color: rgb(230, 255, 250);
    height: 300px;
    width: 700px;
    margin-bottom: 150px;
    overflow: visible;
}

.curiosidadealeatoria .ponte {
    background-color: rgb(255, 249, 230);
    height: 300px;
    width: 200px;
    overflow: auto;
}

.curiosidadealeatoria .noite {
    background-color: rgb(255, 238, 242);
    height: 400px;
    width: 400px;
    overflow: hidden;
}


/***************************CSS - Parte4***************************/

.experimentbackground div {
    width: 600px;
    height: 150px;
    color: white;
}

.solida {
    background-color: rgb(0, 128, 85);
}

.solidatransparencia {
    background-color: rgba(165, 133, 45, 0.473);
}

.gradiente {
    background: linear-gradient(to left top, rgb(160, 160, 255), rgb(255, 129, 129));;
}

.imagemunica {
    background-image: url('../img/vivendoavida.jpeg');
    background-repeat: no-repeat;
    background-size: 200px;
}

.imagemrepetida {
    background-image: url('../img/vivendoavida.jpeg');
    background-repeat: repeat-x;
    background-size: 100px;
}

.experimentborder div{
    width: 600px;
    height: 150px;
    color: rgb(66, 66, 66);
}

.circle {
    margin-bottom: 70px;
}

.circle img{
    border-radius: 50%;
    box-shadow: 10px 10px 10px #444444;
    width: 200px;
    height: 200px;
}

.solid{
    border: 3px solid rgb(52, 100, 52);
}

.dotted{
    border: 7px dotted rgb(42, 112, 177);
}

.dashed{
    border: 1px dashed rgb(177, 42, 136);
    border-radius: 17px;
}

.double{
    border: 10px double rgb(177, 175, 42);
}


/***************************CSS - Parte5***************************/

.bodyParte5 {
    background-color: #d8e5fa;
    display: flex;
    justify-content: center;
}

.strip-top {
    height: 45px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c7ca7;
    text-decoration: none;
    position: fixed;
    color: #d8e5fa;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.mainParte5 {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.mainParte5 .conteudo {
    width: 390px;
    height: 393px;
    background-color: #155a80;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/vivendoavida.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
}

.mainParte5 .titulo h1 {
    margin: 20px;
    padding: 0;
    font-size: 27px;
}

.mainParte5 .titulo .none{
    color: #76a8b3;
    text-decoration: none;
}

.mainParte5 .titulo .over{
    color: #76b391;
    text-decoration: overline;
    text-decoration-thickness: 8px;
}

.mainParte5 .titulo .through{
    color: #b490df;
    text-decoration: line-through;
    text-decoration-style: dotted;
}
.mainParte5 .titulo .throughdashed{
    color: #dfca90;
    text-decoration: overline;
    text-decoration-style: dashed;
}

.mainParte5 .titulo .underline{
    color: #503991;
    text-decoration: underline;
}

.mainParte5 .titulo .underlinewavy{
    color: #b4e7ff;
    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-thickness: 3px;
}

.mainParte5 .titulo .underover{
    color: #91233b;
    text-decoration: underline overline;
    text-decoration-thickness: 5px;
}

.mainParte5 .directionrl {
    writing-mode: vertical-rl;
}

.mainParte5 .directionrl .underline, .directionlr .underline{
    color: #b88f20;
    text-decoration: overline;
    text-decoration-style: dashed;
}

.mainParte5 .directionrl .underover, .directionlr .underover{
    color: #3a81bb;
    text-decoration: underline overline;
    text-decoration-style: dotted;
}

.mainParte5 .directionrl .throughdashed, .directionlr .throughdashed{ 
    color: #523b88;
    text-decoration: line-through;
    text-decoration-style: dashed;
}

.mainParte5 .directionlr {
    writing-mode: vertical-lr;
}


