/*************************** TEMPLATE CSS - MODULO 07 ***************************/

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

body:last-child {
    margin-bottom: 30px;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-weight: 700;
    background-color: rgb(93, 134, 119);
}

header h1 {
    color: #F6D5B7;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    width: 85%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    color: #F6D5B7;
    background-color: rgb(93, 134, 119);
}