/*************************** TEMPLATE CSS - MODULO 07 ***************************/

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

body:last-child {
    margin-bottom: 30px;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-weight: 700;
    background-color: rgb(93, 134, 119);
}

header h1 {
    color: #F6D5B7;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    width: 85%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    color: #F6D5B7;
    background-color: rgb(93, 134, 119);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: #F6D5B7;
}

label {
    font-size: 18px;
    font-family: 'Roboto';
    color: rgb(79, 114, 101);
}

input, select {
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0 5px 6px ;
    font-size: 18px;
    color: rgb(93, 134, 119);
}

input:hover, select:hover {
    border: 1px solid rgb(53, 207, 151);
}

input::placeholder {
    color: rgb(135, 182, 165);
}

input:focus, button:focus, select:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

button {
    width: auto;
    padding: 15px 30px;
    color: #F6D5B7;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #F6D5B7;
    border-radius: 10px;
    background-color: rgb(93, 134, 119);
}

button:hover {
    cursor: pointer;
    border: 1px solid rgb(53, 207, 151);
    border-radius: 10px;
    background-color: transparent;
    color: rgb(53, 207, 151);
}

.resultadoNum p, .resultadoStr p, .resultadoVida p, .resultadoOperacao p {
    width: 400px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-size: 23px;
}