

h3 {
    width: 430px;
    font-size: 28px;
}



.parte02 h4 {
    width: 100px;
    font-size: 20px;
    padding: 6px;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    color: #F6D5B7;
    background-color: rgb(93, 134, 119);
}

a {
    padding:0;
    margin: 0;
    color: white;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 140px;
    margin-top: 20px;
    position: relative;
    top: 0px;
    right: 0px;
    border: 1px solid #ba83ca;
}

.buttons button:hover {
    cursor: pointer;
    border: 1px solid #ba83ca;
    border-radius: 10px;
    background-color: #de73ff;
    color: #e5d6ff;
}

@media screen and (max-width: 700px) {
    .buttons button {
        right: auto;
    }
}