section {
    height: auto;
}

.letraB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.resultadoCEP {
    width: 460px;
    margin-top: 30px;
    box-sizing: border-box;
}

.resultadoCEP h3 {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    color: #aa8fd8;
    background-color: #e5d6ff;
    margin-bottom: 20px;
}