
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #ba83ca, #9a9ae1, #8aa7ec, #79b3f4, #52cffe, #46eefa, #5ffbf1);
}

section {
    width: 400px;
    height: 280px;
    padding: 40px 0;
    background-color: #e5d6ff;
}
header {
    position: fixed;
    top: 0;
    background-color: #e5d6ff;
}

header h1 {
    color: #6f4aaf;
}

h3 {
    width: 430px;
    margin-top: 100px;
    background-color: #8f6bce;
    color: #e5d6ff;
}

select {
    height: 35px;
    font-size: 22px;
}

button {
    margin: 30px 0 30px 0;
}

option {
    text-align: center;
}

button {
    width: auto;
    padding: 15px 30px;
    color: #e5d6ff;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #e5d6ff;
    border-radius: 10px;
    background-color: #d16ba5;
}

button:hover {
    cursor: pointer;
    border: 1px solid #ba83ca;
    border-radius: 10px;
    background-color: transparent;
    color: #ba83ca;
}

.buttons {
    width: 460px;
}