body h3:nth-child(3){
    margin-top: 0;
}

section {
    height: 450px;
    justify-content: flex-end;
}

section .alarmOff {
    width: 300px;
    margin-bottom: 0px;
    display: none;
}

section .alarmOnLeft {
    width: 300px;
    margin-bottom: 20px;
    display: none;
}

section .alarmOnRight {
    width: 550px;
    position: relative;
    top: 120px;
    left: 0px;
    display: none;
}

.chronometers {
    width: 200px;
    height: auto;

    display: flex;
    justify-content: space-between
}

#chronometerMin, #chronometerSec {
    width: 90px;
    border: none;
    border-radius: 12px;
    color: #7156a0;
    font-family: 'Roboto';
    font-weight: 500;
}

.turnOn {
    z-index: 5;
}

.turnOn:focus {
    color: #e5d6ff;
    background-color: #d16ba5;
}

.buttons {
    margin-top: 20px;
}