@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, div, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-weight: 700;
    background-color: lightseagreen;
}

nav p {
    color: seashell;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card {
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(182, 211, 200);
    border-radius: 20px;
}

.card h1 {
    font-size: 28px;
    color: rgb(65, 92, 85);
}

.card h5 {
    width: auto;
    padding: 20px 35px;
    color: rgb(81, 133, 120);
    color: seashell;
    font-size: 22px;
    border: 1px solid rgb(139, 173, 160);
    border-radius: 10px;
    background-color: rgb(139, 173, 160);
}

.card h5:hover {
    cursor: pointer;
    border: 1px solid rgb(139, 173, 160);
    border-radius: 10px;
    background-color: seashell;
    color: rgb(139, 173, 160);
}