
.card {
    width: 260px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-image: url(../assets/imgs/background-sunflower.jpeg);
    background-size: 260px;
    background-repeat: no-repeat;
}

.card h2 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
    color: rgb(93, 134, 119);
}

.card h5 {
    width: auto;
    padding: 15px 30px;
    margin-bottom: 65px;
    color: rgb(93, 134, 119);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #F6D5B7;
    border-radius: 10px;
    background-color: #F6D5B7;
}

.card h5:hover {
    cursor: pointer;
    border: 1px solid #F6D5B7;
    border-radius: 10px;
    background-color: transparent;
    color: #F6D5B7;
}