@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

p, h1, h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    font-weight: 700;
    background-color: rgb(93, 134, 119);
}

nav p {
    color: #F6D5B7;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.card {
    width: 260px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-image: url(./0606e1fcfac186f939c9d955ede7a7d7.jpeg);
    background-size: 260px;
    background-repeat: no-repeat;
}

.card h1 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
    color: rgb(93, 134, 119);
}

.card h5 {
    width: auto;
    padding: 15px 30px;
    margin-bottom: 65px;
    color: rgb(93, 134, 119);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #F5E1C6;
    border-radius: 10px;
    background-color: #F6D5B7;
}

.card h5:hover {
    cursor: pointer;
    border: 1px solid #f7e2c5;
    border-radius: 10px;
    background-color: transparent;
    color: #f7e2c5;
}