section {
    height: auto;
}

h3 {
    margin: 5px;
}

body h3:nth-child(2) {
    margin-top: 120px;
}

body h3:nth-child(8) {
    margin-bottom: 60px;
}

.letraB {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultadoSubtracao {
    width: 460px;
    margin-top: 30px;
    box-sizing: border-box;
}

.resultadoSubtracao h3 {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    color: #aa8fd8;
    background-color: #e5d6ff;
    margin-bottom: 20px;
}